@model PangusServices.Models.Main

@{
    ViewBag.Title = "Adaugare modalitate de plata";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(x => x.MainID)
    @Html.HiddenFor(x => x.Sfantu_MCiuc)
    @Html.HiddenFor(x => x.CustomerID)
    @Html.HiddenFor(x => x.CarDetailID)
    @Html.HiddenFor(x => x.DepozitareID)
    @Html.HiddenFor(x => x.AnvelopeNoiID)
    @Html.HiddenFor(x => x.OperatorID)
    @Html.HiddenFor(x => x.OperatorName)
    
    <div class="row">
        <div class="form-group col-sm-4">
            @*@Html.DropDownListFor(x => x.PaymentMethodID, (SelectList)ViewBag.PaymentMethodID)*@
            @*@Html.EditorFor(x => x.PaymentMethodID)*@
            @Html.DropDownList("PaymentMethodID", null, string.Empty, new { @class="form-control"})
        </div>
    </div>


    <input type="submit" value="Salvare" class="btn btn-primary"/>
    <a href="@Url.Action("Index")" class="btn btn-default">Inapoi</a>
}
