@model PangusServices.Models.Main

@{
    ViewBag.Title = "Discount";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.AnvelopeNoiID)
    @Html.HiddenFor(x => x.CarDetailID)
    @Html.HiddenFor(x => x.CustomerID)
    @Html.HiddenFor(x => x.DepozitareID)
    @Html.HiddenFor(x => x.MainID)
    @Html.HiddenFor(x => x.PaymentMethodID)
    @Html.HiddenFor(x => x.Sfantu_MCiuc)
    @Html.HiddenFor(x => x.isDone)
    @Html.DisplayFor(x => x.OperatorID)

    <div class="row">
        <div class="form-group col-lg-6">
            <div class="panel panel-info">
                @{
    float ar = 0;
    float partialPrice = 0;
    float totalAr = 0;
    float totalPartialPrice = 0;
                }
                <div class="panel-heading text-center">
                    <label>Servicii oferite</label>
                </div>
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>Servicii</th>
                        <th>Cant.</th>
                        <th>Total</th>
                        <th>Platit</th>
                    </tr>
                    @foreach (var item in Model.CustomerServices)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(x => item.NamedServ)
                                (Pret/1buc.- @item.Pret Ron)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.Cantitate)
                            </td>
                            <td>
                                @{
                        ar = item.Cantitate * item.Pret;
                        <label>@ar Ron</label>
                        totalAr += ar;
                                }
                            </td>
                            <td>
                                @if (item.IsEditable == true && Model.AnvelopeNoi.Cantitate != null)
                                {
                                    if (Model.AnvelopeNoi.Cantitate >= item.Cantitate)
                                    {
                                        partialPrice = 0;
                                        <label>@partialPrice</label>
                                    }
                                    else
                                    {
                                        partialPrice = (item.Cantitate - (float)Model.AnvelopeNoi.Cantitate) * item.Pret;
                                        <label>@partialPrice Ron</label>
                                    }
                                }
                                else
                                {
                                    partialPrice = item.Cantitate * item.Pret;
                                    <label>@partialPrice Ron</label>
                                }
                                @{
                        totalPartialPrice += partialPrice;
                                }
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                             <b>Discount: @Model.Discount</b>
                        </td>
                        <td><b>Total:</b></td>
                        <td class="success"><b>@totalAr Ron</b></td>
                        @{
                            var discounted = totalPartialPrice - ((totalPartialPrice * Model.Discount) / 100);
                         }
                        <td class="success">
                            <b>
                                @if (Model.Discount == null || Model.Discount == 0)
                                {
                                    <b>@totalPartialPrice Ron</b>
                                }
                                else
                                {
                                    <b>@discounted Ron</b>
                                }
                            </b>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <input type="hidden" value="@totalPartialPrice" class="price" />

        <div class="col-lg-6">
            <div class="form-group-sm col-lg-4">
                <div class="panel-heading">
                    <p class="btn btn-success btn-xs calculator">Calculeaza</p>
                    <p class="btn btn-danger btn-xs reset pull-right">Reset</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group-sm col-lg-4">
                <label>Discount</label>
                <div class="panel panel-default">
                    <input type="text" class = "form-control calc" />
                </div>
            </div>

        </div>

        <div class="col-lg-6">
            <div class="form-group-sm col-lg-4">
                <label>De platit cu discount</label>
                <div class="panel panel-default">
                    @Html.TextBox("result", null, new { @class = "form-control result" })
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-lg-4">
            <label>Discount acordat</label>
            @Html.TextBoxFor(x => x.Discount, new { @class = "form-control" })
        </div>
    </div>

    <input type="submit" value="Salvare" class="btn btn-primary" />
    <a href="@Url.Action("Index", "Services")" class="btn btn-default">Inapoi</a>
}

@section scripts{
    <script>
        $(document).ready(function () {
            var myPrice = $('.price').val();
            var value = $('.calc').val();
            var result = $('.result').val();
            var res = (myPrice * value) / 100;

            $('.calculator').click(function () {
                $('.result').val((myPrice - (myPrice *($('.calc').val()) / 100)).toFixed(2));
            });

            $('.reset').click(function () {
                $('.result').val(" ");
                $('.calc').val(" ");
            });
        });

    </script>
}

