@model PangusServices.Models.AnvelopeNoi

@{
    ViewBag.Title = "Editare Anvelopa";
}

@using(Html.BeginForm())
{
    @Html.HiddenFor(x => x.AnvelopeNoiID)
    @Html.HiddenFor(x => x.NoiRulate)
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group col-sm-3">
            <label>Marca anvelopa</label>
            @Html.DropDownList("AnvelopeID", null, new { @class = "form-control Anvelope" })
        </div>
        <div class="form-group col-sm-3">
            <label>Profil Anvelopa</label>
            @Html.DropDownList("ProfilID", null, new { @class = "form-control Profil" })
        </div>

        <div class="form-group col-sm-3">
            <label>Dot/Serie</label>
            @Html.TextBoxFor(x => x.DotSerie, new { @class = "form-control" })
        </div>

        <div class="form-group col-sm-3">
            <label>Canitate</label>
            @Html.TextBoxFor(x => x.Cantitate, new { @class = "form-control" })
        </div>
    </div>
    
    <input type="submit" value="Salvare" class="btn btn-primary" />
    <a href="@Url.Action("Details", new { id = ViewBag.backToEdit})" class="btn btn-default">Inapoi</a>
}

@section Scripts{
    <script>
        $('document').ready(function () {
            $(".Anvelope").change(function () {
                $(".Profil").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.RouteUrl("SelectProfils")',
                    dataType: 'json',
                    data: { id: $(".Anvelope").val() },
                    success: function (profils) {
                        $.each(profils, function (i, profil) {
                            $(".Profil").append('<option value="'
                                + profil.ProfilID + '">'
                                + profil.Name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex.responseText);
                    }
                });
                return false;
            })
        });
    </script>
}

