@model PangusServices.Models.PaymentMethod

@{
    ViewBag.Title = "Editare " + @Model.Name;
}

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.PaymentMethodID)
    
    <div class="form-group">
        <label>Modalitate</label>
        @Html.TextBoxFor(x => x.Name, new { @class="form-control"})
    </div>
    
    <input class="btn btn-primary" type="submit" value="Salvare"/>
    <a href="@Url.Action("Index")" class="btn btn-default">Inapoi</a>
}

