@model PangusServices.Models.Anvelope

@{
    ViewBag.Title = "Editare" + @Model.Marca;
}

@using(Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.AnvelopeID)
    
    <div class="form-group">
        <label>Marca</label>
        @Html.TextBoxFor(x => x.Marca, new { @class="form-control"})
    </div>
    
    <input type="submit" value="Editare" class="btn btn-primary"/>
    <a href="@Url.Action("Index")" class="btn btn-default">Inapoi</a>
}

