@model IEnumerable<PangusServices.Models.Anvelope>

@{
    ViewBag.Title = "Anvelope";
}

<div class="panel panel-primary">
    <div class="panel-heading text-center">
        <b>Anvelope</b>
        <a href="@Url.Action("Create")" style="color:white" class="pull-right">Nou <i class="glyphicon glyphicon-plus"></i></a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Denumire</th>
                <th>Modificare</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4" class="text-center">
                        Gol
                    </td>
                </tr>
            }

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.AnvelopeID</td>
                    <td>@item.Marca</td>
                    <td>
                        @using (Html.BeginForm("Delete", "Anvelopes", new { id = item.AnvelopeID }, FormMethod.Post, new { onclick = "return confirm('Doriti sa stergeti clientul definitiv?')" } ))
                        {
                            @Html.ActionLink("Modificare", "Edit", new { id = item.AnvelopeID }, new { @class = "btn btn-primary btn-xs" })
                            <button class="btn btn-danger btn-xs" type="submit">Stergere</button>
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<div class="pull-left">
    @Html.ActionLink("Nou", "Create", null, new { @class = "btn btn-primary" })
</div>




