@using PangusServices.Models
@model IEnumerable<AppUser>

@{
    ViewBag.Title = "Felhasználók";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Users
    </div>

    <table class="table table-striped">
        <tr>
            <th>
                ID
            </th>
            <th>
                Nume
            </th>
            <th>
                Email
            </th>
            <th>
                Modificare
            </th>
        </tr>
        @if (Model.Count() == 0)
        {
           <tr>
               <td colspan="4" class="text-center">
                   GOL
               </td>
           </tr> 
        }
        else
        {
            foreach(AppUser user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        @using (Html.BeginForm("Delete", "Users", new { id = user.Id }, FormMethod.Post, new { onclick = "return confirm('Doriti sa stergeti clientul definitiv?')" }))
                        {
                            @Html.ActionLink("Editare", "Edit", new { id = user.Id }, new { @class="btn btn-primary btn-xs"})
                            <button class="btn btn-danger btn-xs" type="submit">Stergere</button> 
                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>
@Html.ActionLink("Nou", "Create", null, new { @class= "btn btn-primary"})
