@model PangusServices.Models.LoginModel

@{
    ViewBag.Title = "Login";
}


@Html.ValidationSummary()

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

    <div class="row col-sm-offset-4">
        <div class="col-sm-6 center-block">
            <div class="form-group">
                <label>Nume</label>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Parola</label>
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password" })
            </div>
            <button class="btn btn-primary pull-right" type="submit">Autentificare</button>
        </div>
    </div>

    
}


