@model PangusServices.Models.CarType

@{
    ViewBag.Title = @Model.Name + " módosítása";
}

@using(Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.CarTypeID)
    
    <div class="form-group">
        <label>Név</label>
        @Html.TextBoxFor(x => x.Name, new { @class="form-control"})
    </div>
    
    <input type="submit"value="Mentés" class="btn btn-primary" />
    <a href="@Url.Action("Index")" class="btn btn-default">Mégsem</a>
}

