@model IEnumerable<PangusServices.Models.CarType>

@{
    ViewBag.Title = "CarType";
}

<div class="panel panel-primary">
    <div class="panel-heading text-center">
        <b>Categorii de auto</b>
        <a href="@Url.Action("Create")" style="color:white" class="pull-right">Nou <i class="glyphicon glyphicon-plus"></i></a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Denumire</th>
                <th>Editare</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4" class="text-center">
                        Gol
                    </td>
                </tr>
            }
            else
            {
                foreach (var carType in Model)
                {
                    <tr>
                        <td>@carType.CarTypeID</td>
                        <td>@carType.Name</td>    
                        <td>
                            @using (Html.BeginForm("Delete", "CarTypes", new { id = carType.CarTypeID }, , FormMethod.Post, new { onclick = "return confirm('Doriti sa stergeti clientul definitiv?')" }))
                            {
                                @Html.ActionLink("Editare", "Edit", new { id = carType.CarTypeID }, new { @class = "btn btn-primary btn-xs" })
                                <button class="btn btn-danger btn-xs" type="submit">Sterge</button>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


@Html.ActionLink("Nou", "Create", null, new { @class = "btn btn-primary" })

