@model PangusServices.Models.Operator

@{
    ViewBag.Title = @Model.Name;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.OperatorID)

    <div>
        <div class="form-group-sm col-lg-4">
            <label>Nume / Prenume</label>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>

        <div class="form-group-sm col-lg-4">
            <label>Nr. Tel.</label>
            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
        </div>

        <div class="form-group-sm col-lg-4">
            <label>Email</label>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        </div>

    </div>

    <div class="form-group col-lg-12">
        <br />
        <input type="submit" value="Editeaza" class="btn btn-primary form-control" />
        <a href="@Url.Action("Index")" class="btn btn-default form-control">Inapoi</a>
    </div>
}

