@model IEnumerable<PangusServices.ViewModels.PaymentNumberGroup>

@{
    ViewBag.Title = "Raport";
}

<h3 class="text-center">Raport  @ViewBag.tim</h3>
<h5 class="text-center">@ViewBag.isUser</h5>

<br />

<div class="row form-group container-fluid">
    @using (Html.BeginForm("Index", "Raport", FormMethod.Get))
    {
        <div class="row">
            <div class="col-lg-3">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="basic-addon1">De la</span>
                    @Html.TextBox("start", null, new { @class = "form-control", id = "start", name = "start" })
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="basic-addon1">pana la</span>
                    @Html.TextBox("end", null, new { @class = "form-control", id = "end", name = "end" })
                </div>
            </div>

            <button type="submit" class="btn btn-default btn-sm">Filtrare</button>
        </div>
    }
</div>

<div class="center-block">
    <div class="panel panel-default">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Modalitati de plata</th>
                    <th>Cantitate</th>
                    <th>Total platit</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="3" class="text-center">Nu sunt servicii efectuate pentru data de @DateTime.Today.ToShortDateString()</td>
                    </tr>
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(x => item.PaymentMethod)</td>
                        <td>@item.PaymentCount</td>
                        @{
                    IEnumerable<PangusServices.Models.Main> sum = ViewBag.totalSum;
                    float ar = 0;
                    float osszesen = 0;

                    foreach (var total in sum.ToList())
                    {
                        if (total.PaymentMethod.Name == item.PaymentMethod)
                        {
                            foreach (var ez in total.CustomerServices)
                            {
                                if (total.AnvelopeNoi.NoiRulate == false)
                                {
                                    ar = ez.Pret * ez.Cantitate;
                                }
                                else if (total.AnvelopeNoi.Cantitate >= ez.Cantitate && ez.IsEditable)
                                {
                                    ar = 0;
                                }
                                else if (ez.IsEditable && ez.Cantitate != null && total.AnvelopeNoi.Cantitate != null)
                                {
                                    var cantitate = ez.Cantitate - total.AnvelopeNoi.Cantitate;
                                    ar = ez.Pret * (float)cantitate;
                                }
                                else
                                {
                                    ar = ez.Pret * ez.Cantitate;
                                }
                                osszesen += ar;
                            }
                        }
                    }
                        }
                        <td>@osszesen.ToString("#,##0.00")</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                @{
                    IEnumerable<PangusServices.Models.Main> GTotal = ViewBag.totalSum;

                    <tr>
                        <td colspan="2"><b class="pull-right">In total platit:</b></td>
                        <td>
                            @{
                                float osszeg = 0;
                                float price = 0;
                                foreach (var item in GTotal)
                                {
                                    foreach (var sum in item.CustomerServices)
                                    {
                                        if (item.AnvelopeNoi.NoiRulate == false)
                                        {
                                            price = sum.Pret * sum.Cantitate;
                                        }
                                        else if (item.AnvelopeNoi.Cantitate >= sum.Cantitate && sum.IsEditable)
                                        {
                                            price = 0;
                                        }
                                        else if (sum.IsEditable && sum.Cantitate != null && item.AnvelopeNoi.Cantitate != null)
                                        {
                                            var cantitate = sum.Cantitate - item.AnvelopeNoi.Cantitate;
                                            price = sum.Pret * (float)cantitate;
                                        }
                                        else
                                        {
                                            price = sum.Pret * sum.Cantitate;
                                        }
                                        osszeg += price;
                                    }

                                }

                            }
                            <b>@osszeg.ToString("#,##0.00")</b>
                        </td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            $("#start").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 2,
                onClose: function (selectedDate) {
                    $("#end").datepicker("option", "minDate", selectedDate);
                }
            });

            $("#end").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 2,
                onClose: function (selectedDate) {
                    $("#start").datepicker("option", "maxDate", selectedDate);
                }
            });
        });
    </script>
}