@using System.Web.Optimization
@using PangusServices.Filter

@helper SelectedTab(string selectedtab)
{
    if (ViewBag.selectedTab == selectedtab)
    {
        @:active
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pangus Services</title>
    @Styles.Render("~/admin/styles")
</head>
<body class="container">
    <h1 class="page-header">
        <img src="~/Content/Images/logox.png" class="img-circle" />
        <a href="@Url.RouteUrl("Home")">Pangus Services</a>
        <small style="font-size:x-small">Pangus Inside Tool v1.01</small>
    </h1>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="panel panel-info">
            <div class="panel-heading">
                <ul class="nav nav-pills small">
                    <li class="@SelectedTab("services")"><a href="@Url.RouteUrl("FreeServices")">Services</a></li>
                    <li class="@SelectedTab("Depozitare")">
                        @if ((User.IsInRole("Iroda_Szentgyorgy")) || User.IsInRole("Muhely_Szentgyorgy"))
                        {
                            <a href="@Url.Action("Index", "Depozitare", new { area = "Admin"}, null)">Depozitare<span class="badge">@ViewBag.Depozitares</span></a>

                        }
                        else if ((User.IsInRole("Iroda_Csikszereda")) || User.IsInRole("Muhely_Csikszereda"))
                        {

                            <a href="@Url.Action("Index", "Depozitare", new { area = "Admin"}, null)">Depozitare<span class="badge">@ViewBag.DepozitaresMc</span></a>
                        }
                    </li>
                    <li class="pull-right"><a href="@Url.RouteUrl("Logout")">Logout</a></li>
                    <li class="pull-right"><div class="btn btn-success">@User.Identity.Name</div></li>
                    @if (User.IsInRole("Administrator") || (User.IsInRole("Iroda_Csikszereda") || (User.IsInRole("Iroda_Szentgyorgy"))))
                    {
                        if (User.IsInRole("Administrator"))
                        {
                            <li class="@SelectedTab("felhasznalok")">@Html.ActionLink("Users", "Index", "Users", new { area = "Admin" }, null)</li>
                            <li class="@SelectedTab("szerepek")">@Html.ActionLink("Roluri", "Index", "Roles", new { area = "Admin" }, null)</li>
                        }
                        <li class="@SelectedTab("adminservices")">@Html.ActionLink("Services Control", "Index", "Services", new { area = "Admin" }, null)</li>
                        <li class="dropdown @SelectedTab("servicii")">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown">Modificari baze de date<span class="caret" /></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Servicii", "Index", "Servicii", new { area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Tipuri de masini", "Index", "CarTypes", new { area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Persoane", "Index", "Person", new { area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Anvelope", "Index", "Anvelopes", new { area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Categorie dimensiuni", "Index", "DimensionType", new { area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Profil Anvelope", "Index", "Profils", new { area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Modalitati de plata", "Index", "PaymentMethod", new { area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Firme", "Index", "Firme", new { area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Operatori", "Index", "Operators", new { area = "Admin"}, null)</li>
                            </ul>
                        </li>
                        <li class="dropdown @SelectedTab("raport")">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown">Rapoarte<span class="caret" /></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Raport detailat", "RaportD", "Raport", new { area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Raport simplu", "Index", "Raport", new { area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Raport Firme", "RaportFirme", "Raport", new { area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Raport Servicii", "RaportServicii", "Raport", new { area = "Admin" }, null)</li>
                            </ul>
                        </li>
                        <li class="@SelectedTab("fdatabase")">@Html.ActionLink("Baza de date", "Index", "FDatabase", new { area = "Admin" }, null)</li>
                        <li class="@SelectedTab("info")">@Html.ActionLink("Info", "Index", "Info", new { area = "Admin" }, null)</li>
                        <li class="pull-right">
                            @if (User.IsInRole("Iroda_Szentgyorgy"))
                            {
                                if (@ViewBag.Notifications == 0)
                                {
                                    <div class="btn btn-toolbar">
                                        Nu sunt fise noi
                                    </div>
                                }
                                else
                                {
                                    <div class="btn btn-toolbar">
                                        @Html.ActionLink("Nou", "Index", "Services", new { area = "Admin" }, new { @style = "color:grey" }) <span class="badge">@ViewBag.Notifications</span>
                                    </div>
                                }
                            }
                            else if (User.IsInRole("Iroda_Csikszereda"))
                            {
                                if (@ViewBag.NotificationsMc == 0)
                                {
                                    <div class="btn btn-toolbar">
                                        Nu sunt fise noi
                                    </div>
                                }
                                else
                                {
                                    <div class="btn btn-toolbar">
                                        @Html.ActionLink("Nou", "Index", "Services", new { area = "Admin" }, new { @style = "color:grey" }) <span class="badge">@ViewBag.NotificationsMc</span>
                                    </div>
                                }
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    }

    <div class="container-fluid">
        @RenderBody()
    </div>


    <footer class="text-center">
        &copy; @DateTime.UtcNow.Year - Pangus v1.01
    </footer>

    @Scripts.Render("~/admin/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>