@model PangusServices.Models.Depozitare

@{
    ViewBag.Title = "Creare depozitare";
}

@using (Html.BeginForm())
{
    <div class="jumbotron">
        <h2 class="text-center">Depozitare</h2>
        <br />
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()

        <div class="row col-lg-offset-1">
            <div class="from-group col-lg-4">
                <label>Nume</label>
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
            </div>

            <div class="form-group col-lg-4">
                <label>Prenume</label>
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
            </div>

            <div class="form-group col-lg-4">
                <label>Data mm/DD/yyyy</label>
                @Html.TextBoxFor(x => x.Data, new { @class = "form-control", @type="date" })
            </div>
        </div>



        <div class="row col-lg-offset-2">
            <div class="form-group col-lg-5">
                <label>Nr. Inmatriculare</label>
                @Html.TextBoxFor(x => x.NrInmatricuare, new { @class = "form-control" })
            </div>

            <div class="form-group col-lg-5">
                <label>Dimensiune</label>
                @Html.TextBoxFor(x => x.Dimensiune, new { @class = "form-control" })
            </div>
        </div>

        <div class="row col-lg-offset-1">
            <div class="form-group col-lg-4">
                <label>Anvelopa</label>
                @Html.DropDownList("AnvelopeID", null, string.Empty, new { @class = "form-control" })
            </div>

            <div class="form-group col-lg-4">
                <label>Profil</label>
                @Html.DropDownList("ProfilID", null, string.Empty, new { @class = "form-control" })
            </div>

            <div class="form-group col-lg-4">
                <label>Cantitate</label>
                @Html.TextBoxFor(x => x.Cantitate, new { @class = "form-control" })
            </div>

        </div>

        <div class="row col-lg-offset-3">
            <div class="form-group col-lg-9">
                <label>Descriere</label>
                @Html.TextAreaFor(x => x.Descriere, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">     
            <input type="submit" value="Salvare" class="btn btn-primary" id="salvare" />
            <a href="@Url.Action("Index")" class="btn btn-default pull-right">Inapoi</a>
        </div>

    </div>
}


@section Scripts{
    <script>
        $("#AnvelopeID").change(function () {
            $("#ProfilID").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.RouteUrl("SelectProfils")',
                dataType: 'json',
                data: { id: $("#AnvelopeID").val() },
                success: function (profils) {
                    $.each(profils, function (i, profil) {
                        $("#ProfilID").append('<option value="'
                            + profil.ProfilID + '">'
                            + profil.Name + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex.responseText);
                }
            });
            return false;
        })
    </script>
}


